<div class="container mt-3">
    <div class="row">
        <div class="col text-justify">
            <p class="fs-5">
                आपली संघटना २२ मार्च १९९६ साली कार्यरत झाली.
                याचा मुख्य उद्देश, शिकलगार समाजाचा सर्वांगीण विकास हाच होता.
                <br>
                त्या अनुषंगाने मिळणाऱ्या शैक्षणिक, व्यावसायिक व इतर शासकीय/खाजगी सवलती यांची अचूक माहिती समाजापर्यंत
                पोहोचविण्याच काम आपण करत आहोत. त्यासाठी लागणारी शिफारस पत्र ही संघटना वेळोवेळी पुरवत आहे.
                <br> <br>
                तसेच जकात, सदका, फित्रा व इतर निधीतून समाजातील गरजू कुटुंबांना शैक्षणिक, वैद्यकीय आर्थिक मदत दिली जाते.
                <br> <br>
                या संदर्भात आपल्या कार्यकारणीचे सदस्य सभासदां पर्यंत ही माहिती प्रामाणिक पणे पोहोचवण्याचा सतत प्रयत्न
                करत असतात.
                <br> <br>
                या सामाजिक कार्यात आपलाही सहभाग प्रार्थनीय आहे.
            </p>
        </div>
    </div>
</div>