<div class="container mt-2 mb-4">
    <div class="header-banner mb-4 text-center">
        <img src="assets/images/banner.jpg" class="img-fluid" alt="Header Banner">
    </div>
</div>
<div class="container mt-2">
    <button class="btn btn-primary me-3" (click)="goBack()">मागे जा</button>
</div>
<div class="container my-5">
    <div class="card shadow">
        <div class="card-body text-center">
            <!-- <h5 class="mb-3">सभेचे आमंत्रण</h5> -->
            <h4 class="text-center mb-2 bg-warning text-white py-3 rounded">
                ऑडिट २०२२-२३
            </h4>
            <img src="/assets/gallery/audit2223.jpeg" alt="audit" class="img-fluid rounded">
            <img src="/assets/gallery/exp2223.jpeg" alt="expenses" class="img-fluid rounded mt-1">

            <h4 class="text-center my-4 bg-warning text-white py-3 rounded">
                ऑडिट २०२३-२४
            </h4>
            <img src="/assets/gallery/audit2324.jpeg" alt="audit" class="img-fluid rounded mt-1">
            <img src="/assets/gallery/exp2324.jpeg" alt="expenses" class="img-fluid rounded mt-1">

            <h4 class="text-center my-4 bg-warning text-white py-3 rounded">
                ऑडिट २०२४-२५
            </h4>
            <img src="/assets/gallery/audit2425.jpeg" alt="audit" class="img-fluid rounded">
            <img src="/assets/gallery/exp2425.jpeg" alt="expenses" class="img-fluid rounded mt-1">
        </div>
    </div>
</div>