<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <div class="card"> <img src="/assets/images/upi.jpg" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">UPI Payment</h5>
                    <p class="card-text"> Indian Bank, Karad.</p>
                    <p class="card-text"> Account# <b>7554249332</b></p>
                    <p class="card-text"> IFSC# <b>IDIB000K592</b>, Branch# <b>06408</b></p>
                    <p class="card-text"> जकात, सदका, फित्रा, वार्षिक वर्गणी व इतर निधी वरील दिलेल्या QR CODE चा उपयोग
                        करून
                        आम्हाला पाठवावीत.</p>
                    <p class="card-text"> सर्व सभासदांना ही विनंती आहे की त्यांनी या कामासाठी भरभरून मदत करावी.
                        आपण दिलेली छोटी रक्कम ही समाजातील गरजू कुटुंबांच्या कामी येणार आहे आणि त्याच पूर्ण श्रेय
                        आपणास मिळेल. </p>
                    <p>अल्लाह आप सबको इस नेक काम मे बढ-चढ कर हिस्सा लेनेकी तौफिक अता करे।। आमीन..</p>
                    <p class="card-text"> जझाकल्ला खैर!! </p>
                </div>
            </div>
        </div>
    </div>
</div>