<div *ngIf="isLoggedIn" class="alert alert-info" role="alert"> You are already logged-in! </div>
<app-logo></app-logo>
<div *ngIf="!isLoggedIn" class="container mt-5">
    <!-- src/app/phone-auth/phone-auth.component.html -->
    <div class="container mt-6">
        <h2 class="text-center mt-2">Login</h2>
        <form (ngSubmit)="requestVerification()">
            <div class="mb-3">
                <label for="phoneNumber" class="form-label">Phone Number</label>
                <input type="tel" class="form-control" id="phoneNumber" [(ngModel)]="loggedInUser.phoneNumber"
                    name="phoneNumber" placeholder="Enter your phone" required>
            </div>
            <div id="recaptcha-container"></div>
            <button type="submit" class="btn btn-primary">Request Verification Code</button><br>
            <button class="btn btn-secondary mt-2 me-2" (click)="onBack()">मागे जा</button>
            <button class="btn mt-2 me-2" (click)="onRegister()">Register</button>
        </form>

        <form *ngIf=" verificationId" (ngSubmit)="verifyCode()">
            <div class="mb-3">
                <label for="verificationCode" class="form-label">Verification Code</label>
                <input type="text" class="form-control" id="verificationCode"
                    [(ngModel)]="loggedInUser.verificationCode" name="verificationCode" required>
            </div>
            <button type="submit" class="btn btn-success">Verify Code</button>
        </form>
    </div>
</div>