.thumb {
    margin-bottom: 15px;
}

.fancybox img {
    max-width: 100%;
    height: auto;
    border: 3px solid #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
}

.fancybox img:hover {
    transform: scale(1.05);
}