<ul class="list-group">
    <li class="list-group-item" aria-current="true">1. वडिलांचा जन्म दाखला आजोबांचा जन्माचा दाखला यामधील जन्मसाल
        1962 पूर्वी आहे याची खात्री करून घ्या<br>
        2. जर नसेल तर आजोबांचे सख्खे चुलते आत्या रक्ताच्या नात्यातील व्यक्ती यांच्या जन्मतारखा चालतात<br>
        3. त्यानंतर महसूल पुरावा म्हणून सातबारा जुना किंवा जुना फेरफार यामध्ये आजोबांचे किंवा संबंधित रक्ताच्या
        नात्यातील व्यक्तीचे नाव असावे<br>
        4. आईच दाखला जातीचा दाखला काढण्याची काढण्यासाठी चालत नाही किंवा मुलाला वडील नाहीत अशा वेळेला वडिलांचा मृत्यू
        दाखला जोडावा व चुलत्यांचा शाळा सोडल्याचा दाखला पुरावा म्हणून जोडावा<br>
        5. सर्व पुरावे ओरिजिनल असावेत व झेरॉक्स ट्रू कॉपी केलेल्या असाव्यात<br>
        6. लोकांचा गैरसमज आहे की माझा जातीचा दाखला आहे म्हणजे मुलाचा निघेल असं होत नाही पुराव्याशिवाय कोणताही दाखला दिला
        जात नाही<br>
        7. या सर्व दाखल्यांच्या बरोबर आपणास संघटनेचा दाखला खूप महत्त्वाचा आहे त्याचबरोबर तलाठी सरपंच किंवा नगरसेवक यांचे
        शिफारस पत्र सुद्धा आवश्यक घ्यावे लागते</li>

</ul>