.custom-card {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #dee2e6;
    /* Use the appropriate color for the border */
}

.custom-card .card-body {
    padding: 0.5rem;
}

.custom-card .card-title {
    margin-bottom: 0.5rem;
}

.scrolling-text {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    background: transparent;
    padding-top: 5px 0;
    border-bottom: 1px solid lightcoral;
}

.scrolling-text p {
    display: inline-block;
    padding-left: 100%;
    animation: scroll-left 20s linear infinite;
    font-size: 1.35rem;
    /* Adjust font size as needed */
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.alert-custom-error {
    color: white;
    background-color: red;
}

.alert-custom-success {
    color: white;
    background-color: rgb(0, 109, 128);
}