<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <div>नोंदणी क्र - महा/४६४५/सातारा/२२-३-१९९६</div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-3">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="home"> मुख्यपृष्ठ</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="login"> लॉगिन करा</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="membersnew">सभासद नोंदणी</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="memberslist">सभासद यादी</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="education">शैक्षणिक माहिती</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="announcement">सभा नोटीस</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="eventhighlight">एका सदस्याचे मनोगत</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#" (click)="logout()">लॉगआउट</a>
                </li> -->
            </ul>
        </div>

    </div>
</nav>
<!-- <app-ads-popup></app-ads-popup> -->
<app-logo></app-logo>

<div class="container mt-3">
    <div class="scrolling-text rounded">
        <p>{{appsettings?.currentaffair}}</p>
        <!-- <p>आगामी येणाऱ्या महत्वाची माहिती</p> -->
    </div>
</div>

<app-slideshow></app-slideshow>
<app-logodescription></app-logodescription>
<app-members></app-members>
<app-events></app-events>
<!-- <div class="container mt-4">
    <div class="row">
        <div class="col-md-6" (click)="showList()">
            <div class="card bg-info mb-3">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <span class="fw-bold">गरजू कुटुंबांची मदत</span>
                    <span class="badge bg-success rounded-pill">{{charityCount}}</span>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container mt-3">
    <div class="row">
        <div class="col-12" (click)="showList()">
            <div class="card light-blue-background">
                <div class="card-body">
                    <h2 class="card-title">गरजू कुटुंबांची मदत</h2>
                    <p class="card-text"> एकूण: {{charityCount}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">शिफारस पत्र वितरण</h2>
                    <!-- <p class="card-text"> एकूण: 210</p> -->
                    <p> एकूण: {{appsettings?.shifaraspatra}}+</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <app-recommendation></app-recommendation> -->
<app-activities></app-activities>
<div class="container mt-4">
    <div class="row">
        <div class="col-12 text-center">
            <img src="/assets/images/founder.jpg" alt="community logo" class="col-7 rounded-circle"
                style="width: 350px; height: 200px;">
        </div>
    </div><br>
    <div class="row">
        <div class="col-12 text-center">
            <h1>संस्थापक - प्रेरणा स्त्रोत</h1>
            <h2>मरहूम ज. निजामभाई शिकलगार</h2>
        </div>
    </div>
</div>
<div class="container mt-4 w-100 text-center fs-5">
    मार्गदर्शक
</div>

<div class="container mt-2">
    <div class="card custom-card bg-transparent text-center" *ngFor="let item of masterdata; let i=index">
        <div class="card-body py-1">
            <h2 class="card-title fs-6 mb-1">{{item.name}}, {{item.village}}</h2>
        </div>
    </div>
</div>
<app-upipayment></app-upipayment>

<hr>
<div class="px-2 mx-2">
    <div class="container d-flex align-items-center">
        <div class="section-header display-6 fw-bold">
            मदतीची हाक.. {{ needHelp? "/ अभिप्राय लिहा" :""}}
        </div>
    </div>
    <div class="form-group mt-3" *ngIf="needHelp">
        <label for="userIssue">
            सविस्तर माहिती द्या. आम्ही यथावकाश तुमच्याशी संपर्क करू - धन्यवाद!
        </label>
        <!-- Success message div -->
        <div *ngIf="requestSentFailure" class="alert alert-error alert-custom-error mt-3 mt-3" role="alert">
            कमीत कमी २० शब्दात आपली अभिप्राय/अडचण सांगा!
        </div>
        <!-- Success message div -->
        <div *ngIf="requestSentSuccess" class="alert alert-error alert-custom-success mt-3" role="alert">
            आपण दिलेल्या माहितीचा लवकरच विचार केला जाईल - धन्यवाद!
        </div>
        <textarea class="form-control" id="userIssue" [ngModelOptions]="{standalone: true}" [(ngModel)]="userIssue"
            rows="10"
            placeholder="आपल्या अभिप्राय/अडचणी सोबत नाव, गावं, फोन आणि आपण काय करता याची सविस्तर माहिती द्या..."></textarea>

        <button type="submit" class="btn btn-primary mt-3" (click)="goSendRequest()">नोंद पाठवा</button>
    </div>

    <div class="form-group form-check mt-4 mb-4">
        <input type="checkbox" class="form-check-input" id="needHelp" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="needHelp" (change)="onHelpChange()">
        <label class="form-check-label" for="needHelp">आपल्या काही मदत हवी आहे का? अथवा अभिप्राय पाठवा.</label>
    </div>
</div>
<hr>
<footer class="mt-2 py-2">
    <div class="container">
        <div class="row">
            <!-- About Section -->
            <!-- <div class="col-lg-4 col-md-6 mb-4">
                <h2>About Us</h2>
                <p class="text-muted">
                    Your Angular application footer can include information about your app, your organization, or
                    contact details.
                </p>
            </div> -->
            <!-- Contact Section -->
            <div class="col-lg-4 col-md-12">
                <h2 class="mb-3">संपर्क</h2>
                <p class="text-muted">
                    ई-मेल: <a href="mailto:satarashikalgar@gmail.com"
                        class="text-white text-decoration-none">satarashikalgar&#64;gmail.com</a>
                </p>
                <p class="text-muted">
                    फोन: <a href="tel:+919886174607" class="text-white text-decoration-none">९८८६१७४६०७</a>
                </p>
                <p class="text-muted">कार्यालय: ७, सावंत कॉलनी, सातारा, महाराष्ट्र</p>
                <p class="text-muted">संस्था नोंदणी क्रमांक - महा/४६४५/सातारा/२२-३-१९९६; सार्वजनिक विश्वस्त व्यवस्था
                    नोंदणी क्रमांक - एफ ४६१६/सातारा/१८-५-१९९६</p>
            </div>
        </div>
        <!-- <div class="text-center mt-3">
            <p class="text-muted mb-0">&copy; 2025 Satara Jilha Muslim Shikalgar Sanghatana. All rights reserved.</p>
        </div> -->
    </div>
</footer>

<router-outlet></router-outlet>