<div class="container mt-3" (click)="showList()">
    <div class="row">
        <div class="col-12">
            <div class="card light-blue-background"> <img src="/assets/images/members.jpg"
                    class="card-img-top img-fluid" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">सभासद यादी</h5>
                    <p class="card-text"> एकूण: {{membersCount}} (नोंदणीचे काम चालू आहे)</p>
                </div>
            </div>
        </div>
    </div>
</div>